{% extends "base.html" %}

{% load static %}

{% block title %}
    My Blog
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/index.css' %}" />
    <link rel="stylesheet" href="{% static 'blog/post.css' %}" />
{% endblock %}

{% block content %}



<section id="welcome">
    <header>
        <img src="{% static "blog/images/bryan.png" %}" alt="Bryan - The Author" />
        <h2>Bryan's Blog</h2>
    </header>
    <p>Hi, I am Bryan and I love to blog about tech and the world.</p>
</section>

<section id="latest-posts">
    <h2>My latest blog posts</h2>
    <ul>
        {% for post in posts%}
      {% include "blog/includes/post.html" %}  
      
    {%endfor%}
    </ul>
</section>

<section id="about">
    <h2>About Me</h2>
    <p>I love learning, teaching, music, and programming.</p>
    <p>My goal is to keep growing as a developer and if I can help you do the same, I would be very happy too.</p>
</section>

{% endblock %}
